/(EXPERT INSIGHT) Ashish Ranjan Jha - Mastering PyTorch_ Create and deploy deep learning models from CNNs to multimodal models, LLMs and beyond, 2nd Edition-Packt Publishing (2024).pdf
/.dist
/1473415200-مدل حرفه ای 3D Create a logo for Book Club YouTube channel  . رندر اکتان، بسیار دقیق، حجم، نورپردازی دراماتیک  ###  ز.webp
/1748453253-هنر hyper رئالیستی با کیفیت سبک play-doh   Create a logo for Book Club YouTube channel   . مجسمه سازی، هنر خاک رس، تر.webp
/1790651480-سبک play-doh   Create a logo for Book Club YouTube channel   . مجسمه سازی، هنر خاک رس، ترکیب متمرکز، خاک رسی  ###  در.webp
/247670_1724937645.pdf
/2696466068-A surreal landscape where the ocean meets the sky seamlessly, with giant fish swimming in the air and boats floating.webp
/AlbumArtSmall.jpg
/AlbumArt_{B5020207-474E-4720-5245-AD2F7A174200}_Large.jpg
/AlbumArt_{B5020207-474E-4720-5245-AD2F7A174200}_Small.jpg
/Awesome_CV__1_ (1).pdf
/Awesome_CV__1_.pdf
/Certainly1.docx
/CNN_Facial_Expression.ipynb
/Compressed
/Day 3 Challenge.pdf
/DDPM_Paper_with_PyTorch.ipynb
/desktop.ini
/Documents
/Domain_Adaptation_for_Facial_Expression.ipynb
/Folder.jpg
/Gilbert Strang - Linear Algebra and Learning from Data-Wellesley-Cambridge Press (2019).pdf
/L2_explore_data.ipynb
/main.ipynb
/msys2-x86_64-20230526.exe
/neural_network_architecture.pdf
/neural_network_architecture.png
/Nimish Sanghi - Deep Reinforcement Learning with Python_ RLHF for Chatbots and Large Language Models-Apress (2024).pdf
/Parallel_Scan_Example.xlsx
/ResNet_18_from_Scratch_with_PyTorch.ipynb
/RL_for_Finance.ipynb
/RL_for_Finance_with_Back_Test.ipynb
/RL_for_Finance_with_Back_Test_and_FSM.ipynb
/RL_for_Finance_with_Back_Test_and_FSM_Final_code (1).ipynb
/RL_for_Finance_with_Back_Test_and_FSM_Final_code.ipynb
/Robert Robey, Yuliana Zamora - Parallel and High Performance Computing-Manning Publications (2021).pdf
/Rose_GH_Domain_Adaptation_Final_Code (1).ipynb
/Rose_GH_Domain_Adaptation_Final_Code.ipynb
/s12859-019-3005-0.pdf
/s13321-018-0290-y.pdf
/samplesAnime.zip
/Telegram Desktop
/Thumbnails (1).png
/Thumbnails (2).png
/Thumbnails (3).png
/Thumbnails (4).png
/Thumbnails (5).png
/Thumbnails (6).png
/Thumbnails.png
/transformer_MT(cs_en).ipynb
/Université_du_Québec_à_Montréal_Thèse___Zohreh (1).pdf
/Université_du_Québec_à_Montréal_Thèse___Zohreh (6).pdf
/Université_du_Québec_à_Montréal_Thèse___Zohreh (7).pdf
/Vadim Smolyakov - Machine Learning Algorithms in Depth (Final Release)-Manning Publications Co. (2024).pdf
/Vitor Cerqueira, Luís Roque - Deep Learning for Time Series Data Cookbook-Packt Publishing (2024) (1).pdf
/XgBoost_With_Python.ipynb
/~$ster thesis BabaAhmadi.docx
/جلسه 9 یادگیری تقویتی (1).png
/جلسه 9 یادگیری تقویتی.png